/* Use this file to setup global styles and or layouts, breakpoints*/


/* COLOR PALETTE*/
$primary-color: #000000;  /* black */
$secondary-color: #15b4d8;  /* light blue */
$alert-color: #ffd200;  /* yellow */
$danger-color: #ee3936; /* red */
$light-color: #e6e6e7; /* light grey */
$extra-light-color: #f7f8f9; /* extra light grey */
$dark-color: #878c8f;  /* dark grey */


// FONT SMOOTHING

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

button {
  color: white;

  &:active, &:focus, &:hover, &:visited {
    background-color: $danger-color;
  }
}


