
/* Header */
body {
  margin: 0;
}

.container {
  /*@include outer-container;*/
}

.homepage-logo {
  text-align: center;
  img {
    width: 250px;
  }
};

.header-tag-ribbon {
  position: absolute;
  left: 50%;
  top: -60px;
  margin-left: -20px;
}
.marquee-title {
  color: white;
  h1 {
    font-weight: 600;
  };
  h1, h2, a, p {
    text-align: center;
  };
  .marquee-title-event-date {
    color: $alert-color;
  }
  .marquee-title-event {
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Titillium', sans-serif;
  };
}


.parallax-window {
  border-bottom: 6px solid darken(#e6e6e7, 10%);
  
  .parallax-static-content {
    padding: 6em 0 4em;
  }
}

.homepage-content {
  padding: 10px 40px;

  .quotes {
    margin: 0 20px;
    color: $secondary-color;;
  }

  h1, h2, h3, h4, p {
    text-align: center
  };
}

.home-page-events {
  padding: 60px 0;
};

.flex-box {
  position: relative;
  margin-bottom: 40px!important;
  .tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    line-height: 2.2em;
    background-color: $secondary-color;
    color: $light-color;
    height: 35px;
    font-weight: 800;
    .tag-ribbon{
      width: 15px;
      float: left;
      height: auto;
    };
  };
};


.highlight-section {
  width: 100%;
  background-color: darken($extra-light-color, 10%);
  z-index: -999;
  padding: 60px 0;
  img{
    height: 250px;
    width: auto;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 800;
  };
};


.contact-section {
  width: 100%;
  background-color: black;
  z-index: -999;
  padding: 60px 0;

  h1, p {
    color: white!important;
  }

  img{
    width: 32px;
    width: auto;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: white;
  };
  .email-icon {
    width: 35px;
  };
  a.email {
    color: $primary-color;
    display: inline-block;
    font-weight: 800;
    color: white;
  };
  a.social-media-icons{
    display: inline-block;
    padding-right: 20px;
    img {
      height: 35px;
      width: auto;
    }
  };
};

.container {
  text-align: center;
}

